<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events en vue</title>
</head>
<body>
  <div id="app">
    <h1>Les événements en VueJS</h1>

    <!-- changer la couleur de fond du tire au survol -->
    <h2>Au survol</h2>
    <!-- ici on applique un style dynamique basé sur la variable bgColor qui s'applique en arrière plan, on écoute 2 événements : 
     mouseenter et mouseleave qui mettent à jour la valeur de la couleur d'arrière plan bgColor -->
    <p
      :style="'background-color:' + bgColor" 
      @mouseenter="bgColor='red'"
      @mouseleave="bgColor='white'"
    >
      survolez moi
    </p>

    <h2>Dans les formulaires</h2>
    <p>
      <label>
        formulaire exemple
        <!-- Pour faire coincider la valeur et la saisir d'un champ de formulaire, on doit faire 2 choses: transmettre la valeur de la donnée dans la vue avec un binding sur :value et écouter l'événement @input du champ de saisie :
        <input @input="text = $event.target.value"  :value="text" class="form-control" type="text" name="nom"> 
        Dans cet exemple, on récupère la valeur (target.value) du champ de saisie à traver l'objet $event. On redonne cette valeur au champ de saisie avec l'attribut dynamique :value="text"

        On peut simplifier ce fonctionnement en utilisant simplement v-model="text"
        on parle de data-binding bi-directionnel, çad : 
        contrôleur -> vue
        et
        vue -> contrôleur
        -->
        <input v-model="text" class="form-control" type="text" name="nom">
        Saisie utilisateur: {{ text }}
      </label>
    </p>
    
    <h2>Sur des boutons</h2>
    <!-- instruction directe dans le template -->
    <button @click="count++">
      click dans le template : {{count}}
    </button>

    <!-- les méthodes sont déclarées dans le contrôleur, dans la partie methods: {} -->
    <button @click="onDecrementCount()">
      Décrémente depuis le contrôleur
    </button>
  </div>
  <script type="module" src="JS/4-3-event-cours.js"></script>
</body>
</html>